<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="FMAC_name"    value="C:\Qualcomm\SWDL\FlexSKU\FMAC_Files\flexSKU_v1_MSM8998_FS206_Ic02_oemxxxx_cs01_k03_1002.cmm"/>
    <add key="FD_location" value="C:\Qualcomm\SWDL\FlexSKU\fd_record_output\"/>
    <add key="skipHwTest" value="1"/>
 
    <add key="usb_port_number"  value="\\.\COM10"/>

    <add key="qsahara_location" value="C:\Qualcomm\SWDL\FlexSKU\BSP_Tools\QSaharaServer.exe"/>
    <add key="fm_programmer_name" value="prog_ufs_firehose_8998_ddr.elf"/>
    <add key="fm_programmer_location" value="C:\Qualcomm\SWDL\FlexSKU\BSP_Tools\"/>
    <add key="fh_loader_location" value="C:\Qualcomm\SWDL\FlexSKU\BSP_Tools\fh_loader.exe"/>
    <add key="fh_loader_args" value="--porttracename=C:\Qualcomm\SWDL\FlexSKU\porttrace.txt"/>
    <add key="sequencer_log_file" value="C:\Qualcomm\SWDL\FlexSKU\fmlog.txt"/>
    
  </appSettings>
</configuration>
